<header>
    <img src="https://fontmeme.com/permalink/190215/6ee2e31b9b5dcf749991369a3b36383f.png" alt="dragon-ball-z-font" border="0">
</header>

<!-- Portfolio Section -->
<br><br>
<div class="row">
    {{#each character}}
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a><img class="card-img-top" src={{this.image}} alt="http://placehold.it/700x400"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a>{{this.name}}</a>
                </h4>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Planet of Origin: {{this.originPlanet}}</li>
                    <li class="list-group-item">Species: {{this.species}}</li>
                    <li class="list-group-item">Gender: {{this.gender}}</li>
                    <li class="list-group-item">Original Series: {{this.series}}</li>
                    <li class="list-group-item">Status: {{this.status}}</li>
                    <li class="list-group-item">API URL: {{this.url}}</li>
                </ul>
            </div>
        </div>
    </div>
    {{/each}}
</div>
