<header>
    <img src="https://fontmeme.com/permalink/190215/6ee2e31b9b5dcf749991369a3b36383f.png" alt="dragon-ball-z-font" border="0">
</header>

<!-- Portfolio Section -->
<br><br>
<div class="row">
    {{#each character}}
    <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
            <a><img class="card-img-top" src={{this.image}} alt="http://placehold.it/700x400"></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a>{{this.name}}</a>
                </h4>
                <p class="card-text">Planet of Origin: {{this.originPlanet}}</p>
                <p class="card-text">Species: {{this.species}}</p>
                <p class="card-text">Gender: {{this.gender}}</p>
                <p class="card-text">Original Series: {{this.series}}</p>
                <p class="card-text">Status: {{this.status}}</p>
                <p class="card-text">API URL: {{this.url}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>
